@font-face
{
    font-display: swap;
    font-family: 'Cascadia Code', sans-serif;
    src: url('/tpl/Cascadia Code.ttf')
}
@font-face
{
    font-display: swap;
    font-family: 'Playwrite GB J';
    src: url('/tpl/Playwrite GB J.ttf')
}
.avatar
{
    border-radius: 100%;
    height: 10vw;
    margin-top: 5vh;
    width: 10vw
}
.copy
{
    height: 16px;
    margin-right: 10px;
    width: 16px
}
.icon
{
    height: 50px;
    width: 50px
}
.left
{
    background: rgba(255, 255, 255, .4875);
    border-radius: 10px;
    font-family: 'Playwrite GB J', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    text-align: center;
    width: 20vw
}
.pre-pre-code
{
    background: blue;
    border-radius: 10px 10px 0 0;
    height: 20px;
    text-align: right
}
.right
{
    background: rgba(25, 25, 112, .975);
    border-radius: 10px;
    color: white;
    float: right;
    height: 100vh;
    overflow-y: scroll;
    width: 80vw
}
blockquote
{
    border-left: .25em solid lightgrey;
    color: lightgrey;
    font-family: 'Playwrite GB J', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0 1em
}
body
{
    background: black center/100% fixed no-repeat url(/tpl/jpanchal_cpu.jpg);
    display: flex;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
code
{
    border-radius: 0 0 10px 10px;
    font-family: 'Cascadia Code', Consolas, monospace
}
pre
{
    margin: 0;
    padding: 0
}
